*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
    background-color:hsl(0, 0%, 95%);
    min-height: 200vh;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
font-family: 'Lexend Deca', sans-serif;
}
.service-container{
    display: flex;
    justify-content: center;
    border-radius: 15px;
    overflow: hidden;
}
.service{
    width: 250px;
    color: hsla(0, 0%, 100%, 0.75);
    padding: 80px 30px;

}
.service-sedans{
background-color:hsl(31, 77%, 52%);
}
.service-suv{
    background-color:  hsl(184, 100%, 22%);
}
.service-luxury{
    background-color:  hsl(179, 100%, 13%);
}
.service-title{
     text-transform: uppercase;
     margin-top: 30px;
     margin-bottom: 30px;
     font-family: 'Big Shoulders Display', cursive;
}
.service-bottom{
background-color: white;
padding: 15px 30px;
margin-top: 40px;
border: none;
border-radius:20px;
font-family: 'Lexend Deca', sans-serif;

}
.service-sedans .service-button{
    color: hsl(31, 77%, 52%);

}
.service-suv .service-button{
    color: hsl(184, 100%, 22%);
}
.service-luxury .service-button{
    color: hsl(179, 100%, 13%);
}
